In [10]:
# Importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.max_rows',15)

In [12]:
india_data = pd.read_csv('API_IND.csv', usecols=['IndicatorName', '2015' ,'2016','2017','2018'])

india_data.head() # conatins all india data from 1960 to 2018

,IndicatorName,2015,2016,2017,2018
0,Annualized_average_growth_rate_in_per_capita_r...,NaN,NaN,NaN,NaN
1,"Survey_mean_consumption_or_income_per_capita,_...",NaN,NaN,NaN,NaN
2,Annualized_average_growth_rate_in_per_capita_r...,NaN,NaN,NaN,NaN
3,"Survey_mean_consumption_or_income_per_capita,_...",NaN,NaN,NaN,NaN
4,Average_transaction_cost_of_sending_remittance...,NaN,1.252663,3.031802,NaN

In [22]:
india_data.shape
india_data['2017'].value_counts()

0.000000e+00    38
1.000000e+00     5
2.980000e+01     3
8.000000e+00     3
8.800000e+01     3
3.200000e+01     3
1.500000e+01     3
                ..
1.061000e+02     1
3.458337e+10     1
1.927817e+03     1
1.670841e+03     1
1.975787e+01     1
4.136572e+13     1
9.000000e+01     1
Name: 2017, Length: 856, dtype: int64